body{
    box-sizing:border-box;
    margin: 0px;
    padding: 0px;

    text-decoration-color:#282c3f;
    
}


.nav-bar{
    margin-top:40px;
    background-color:#fcfcfa;
    height: 80px;
    width: 1440px;
    margin-left: 80px; 
    position : fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    color:#282c3f;
    font-size: 16px;
   
    z-index:1000;
    /* box-shadow: 0 15px 40px -20px gba(40, 44, 63, .15); */
    box-shadow: 0 15px 40px -20px rgb(159, 159, 133) ;

}


/* .nav-logo{
    height: 80px;
    width: 80px;
    background-image: url("photos/swiggy-main.png");
    background-size: cover;
} */

.other{
    font-weight: 700;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color:#282c3f;
   
    text-decoration:underline;
    text-underline-offset: 8px;
    text-decoration-color: #3D4152;
    text-decoration-thickness:2px ;
    cursor: pointer;

    
}


.nav-logo:hover{
    cursor: pointer;
    transform: scale(1.5);
    /* scale will make the element pop up when hovered over */
}

.nav-corp{

    color:#282c3f;
    font-size: 16px;
    font-family: "FigTree";
    
}

#search{
    position: relative;
    bottom: 7px;
    font-family: "FigTree";
    color:#282c3f;
}



a{
    text-decoration:none;
}


#help{
    position:relative ;
    bottom: 8px;
    font-family: "FigTree";
    color:#282c3f;
  
}
#in{
    position: relative;
    bottom : 7px;
    font-family: "FigTree";
    color:#282c3f;
}
#cart{
    position:relative;
    bottom:7px;
    font-family: "FigTree";
    color:#282c3f;
}

#in:hover{
    cursor: pointer;
    color:#ff5200  ;
}

#cart:hover{
    cursor: pointer;
    color:#ff5200  ;
}
#search:hover{
    cursor: pointer;
    color: #ff5200;
}
#help:hover{
    cursor: pointer;
    color:#ff5200  ;
}
#corp:hover{
    cursor: pointer;
    color:#ff5200  ;
}




/* for second row after navigation bar  */
/* ------------------------------------------------------- */

.food-items{
    display: flex;
    text-align: center;
    justify-content: center;
    /* align-items: center; */
    height:400px ;
    width:1440px;
    background-color:#ffffff;
    margin-left: 80px;
    box-shadow: 0 15px 30px -20px rgb(159, 159, 133) ;
}
#mind{
    position: relative;
    top:4px;
    left : 220px;
    color: rgba(2, 6, 12, 0.92);
    font-weight: 800;
    line-height: 28px;
    font-family:Questrial;
    font-size: 24px;
    white-space:nowrap;
     
     
}
.food-pics{
    display: flex;
    position: relative;
    right: 100px;
    top:80px;
    display: flex;
    width: 1200px;
    height: 320px;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-evenly;
}

.img1{
    height: 250px;
    width: 250px ;
    }
#pic1:hover{
    cursor:pointer;
    transform: scale(1.5);
}


.img2{
    height: 250px;
    width: 250px ;
}

#pic2:hover{
        cursor:pointer;
        transform: scale(1.5);
}
    
.img3{
    height: 250px;
    width: 250px ;
}

#pic3:hover{
    cursor:pointer;
    transform: scale(1.5);
}

.img4{
    height: 250px;
    width: 250px ;
}

#pic4:hover{
    cursor:pointer;
    transform: scale(1.5);
}
.img5{
    height: 250px;
    width: 250px ;
}

#pic5:hover{
    cursor:pointer;
    transform: scale(1.5);
}

.restaurant{
    display: flex;
    text-align: center;
    justify-content: center;
    /* align-items: center; */
    height:600px ;
    width:1440px;
    background-color:#ffffff;
    margin-left: 40px;
}

#chains{
    position: relative;
    left:200px;
    top:40px;
    width:100px;
    white-space: nowrap;
    font-family:Questrial;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.4px;
    color: rgba(2, 6, 12, 0.92);

}

.restaurant-items{
    display: flex;
    position: relative;
    right: 100px;
    top:80px;
    left:40px;
    display: flex;
    width: 1250px;
    height: 500px;
    background-color:#ffffff;
    align-items: center;
    justify-content: space-evenly;
}


.rate{
    position: relative;
    bottom: 40px;
    font-weight: 800;
    font-size :22px;
    line-height:22px;
    color: #ffffffEB;
    

}

.subway:hover{
    cursor:pointer;
    transform: scale(0.9);
}

.bottom-subway{
    margin-left:12px;
}

.subway-rating{
 display: flex;
 background-color: #ffffff;   
 height: 22px;
 align-items:center;

}
 
.subway-rating1{
     
    font-size: 16px;
    color:rgba(2, 6, 12, 0.92);
    line-height: 20px;
    font-weight: 200;
    margin-left:3px;


} 

.bottom-subway1{
    background-color: #ffffff;
    text-align: left;
    font-family: Questrial;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.92);
}

.bottom-subway2{
    font-family: Questrial;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.6);
    
}


.burger:hover{
    cursor:pointer;
    transform: scale(0.9);
}

.bottom-leon{
    margin-left:12px;
}

.leon-rating{
 display: flex;
 background-color: #ffffff;   
 height: 22px;
 align-items:center;
}
 
.leon-rating1{
     
    font-size: 16px;
    color:rgba(2, 6, 12, 0.92);
    line-height: 20px;
    font-weight: 200;
    margin-left:3px;

} 

.bottom-leon1{
    background-color: #ffffff;
    text-align: left;
    font-family: Questrial;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.92);
}

.bottom-leon2{
    font-family:Questrial;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.6);
   
    text-align: left;
}

.cuisaines-full{
    display: flex;
    text-align: center;
    justify-content: center;
    /* align-items: center; */
    height:600px ;
    width:1440px;
    background-color:#ffffff;
    /* margin-left: 80px; */

}

.head{
    white-space: nowrap;
    font-family: Questrial;
    font-weight:bolder;
    color:rgba(2, 6, 12, 0.92);
    
    position: relative;
    left:270px;
}

.cuisaines-layout{
   
        display: flex;
        position: relative;
        left :30px;
        top:80px;
        display: flex;
        width: 1300px;
        height: 500px;
        background-color: #ffffff;
        /* align-items: center; */
        justify-content: space-evenly;
        flex-wrap: wrap;

        
    

}

.chinese{
    position: relative;
    left: 0;
    padding: 16px;
    box-sizing: border-box;
    border: 3px solid rgba(2, 6, 12, 0.1);
    box-shadow: 0 10px 10px 10px rgb(220, 220, 214);
    border-radius: 12px;
    width: 310px;
    height: 55px;
    margin-top:6px;
    margin-right: 10px;
}
.chinese-near{
    /* border:0.5px dashed rgb(138, 138, 187); */

    font-family: Questrial;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    width:301px;
    height: 20px ;
    color: rgba(2, 6, 12, 0.75);
}
.chinese-near:hover{
    cursor:pointer;
    transform: scale(0.9);
}

.more{
    padding: 16px;
    box-sizing: border-box;
    border: 1.5px solid rgba(2, 6, 12, 0.1);
    border-radius: 12px;
    width: 300px;
    height: 55px;
    margin-top:6px;
    margin-right: 10px;


}


.more-near{
    
    width:301px;
    height: 20px ;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(2, 6, 12, 0.75);
}

.more-near:hover{
    cursor:pointer;
    transform: scale(0.9);
}


.experience{
    display:flex;
    width: 100%;
    height: 200px;
    /* justify-items: center; */
    justify-content: space-evenly;
   
    align-items: center;
    background-color: rgb(240, 240, 245);;
    

}

.better{
    width:470px;
    height: 65px;
    font-family: Gilroy;
    font-weight: 800;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: rgba(2, 6, 12, 0.75);
    position: relative;
    left:80px;
}


.foot{
    display: flex;
    background-color:#02060CEB;
    width: 100%;
    height:400px;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-top:50px;
}

.foot-logo{
    display: flex;
    align-content: center;
}

.foot-swiggy{
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.4px;
    color: rgba(255, 255, 255, 0.92);
    position: relative;
    left:10px;
}

.Bundl{
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(255, 255, 255, 0.6);
}

.comp{
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgba(255, 255, 255, 0.92);
}

.comp-list1{
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(255, 255, 255, 0.6);
    list-style-type:none;
    position:relative;
    right:30px;
    top:10px;
    
    margin-top:30px;
}

.double{
    height:100%;
    width:326px;
    
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    justify-items: center;
    position: relative;
    bottom:20px;

}

.us{
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgba(255, 255, 255, 0.92);

}

.con-list1{
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(255, 255, 255, 0.6);
    margin-top:20px;
    position: relative;
    right: 40px;
    list-style-type:none;

}

.leg{
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgba(255, 255, 255, 0.92);
}

.leg-list1{
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 20px;
    position: relative;
    right:40px;
    list-style-type:none;
    
}

.deliver{
    position: relative;
    right:60px;    
}


.del{
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgba(255, 255, 255, 0.92);
    position: relative;
    right: 20px;
}

.del-list1{
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 20px;
    position: relative;
    right:40px;
    list-style-type:none;

}

.side-layout{
    position: fixed;
    top: 0;
    left: auto;
    right:0px;
    transition: transform ease-out 2s;
    z-index: 10001;
    height:550px ;
    width: 665px;
    background-color: #fcfcfa;
    visibility: hidden;
   



}
.sidebar{
   
    height: 100%;
   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 
  
   
    height: 550px ;
    width: 600px;
    display: flex;
    margin-left: 40px;
    margin-right: 240px;
    



}
.sign-up{
    width: 365px;
    height: 130px;
    padding-top: 30px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: left;
    /* background-color: antiquewhite; */
    


}

.up{
    position: relative;
    left: 20px;
   
    font-size: 30px;
    font-weight: 500;
    color: #282c3f;
}
.log-in{
    font-weight: 500;
    cursor: pointer;
    color: #ff5200;
}

.sign-main{
    display: flex;
    width: 365px;
    height: 130px;
    /* background-color: antiquewhite; */
}

.form2{
   
    height: 270px;
    width:30px;
    background-color: #ff5200;
}

.number{
    width: 360px;
    height: 70px;
    font-size: 17px;
    font-weight: 500;
    padding:0 20px ;
    padding-top: 22px;
    border:0.1px solid black;

    
    

}

.name{
    height: 70px;
    width: 360px;
    font-size: 17px;
    white-space: nowrap;
   
    padding:0 20px;
    padding-top: 22px;
    border:0.1px solid black;
}

.cont{
    width: 362px ;
    height: 50px;
    padding: 0 28px;
    cursor: pointer;
    line-height: 50px;
    font-size: 14px;
    font-weight: 600;
    background-color: #ff5200;
    color: #fcfcfa;
    border: none;
    position: relative;
    left:20px;

}
